{% extends 'base-nav.html' %}

{% block title %} Login - {% endblock%}

{% block contentbody %}

<div class="container">
	<div class="row">
		<!-- <div class="col-md-7">
			{# % include 'auth/loginbanner.html' % #} 
		</div> -->
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-offset-3 col-md-6">
					<a href="{{ users.create_login_url(lurl_for('auth.external_login_google')) }}" class="btn btn-large btn-primary"><i class="icon icon-google-plus"> </i> | Sign in with Google</a>
				</div>
			</div>
			<hr>
			{% include 'auth/loginform.html' %}
		</div>
	</div>
</div>

{% endblock %}