{% extends 'base-nav.html' %}

{% block title %} Login - {% endblock%}

{% block contentbody %}

<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-4">
			{% include 'auth/loginform.html' %}
		</div>
		<div class="col-md-offset-1 col-md-3">
			<a href="{{ users.create_login_url(lurl_for('auth.external_login_google')) }}" class="btn btn-large btn-block btn-primary">
				<i class="fa fa-google-plus"> </i> | Sign in with Google
			</a>
		</div>
	</div>
</div>

{% endblock %}