{% extends 'admin/base.html' %}

{% set html_classes = 'usersAdmin' %}

{% block subtitle %} - Users {% endblock %}

{% block contentbody %}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Users</div>
		<div class="panel-body">
			{% for message in get_flashed_messages() %}
				<div class="alert alert-success">
					{{ message }}
				</div>
			{% endfor %}
			<p>
				<button class="btn btn-small btn-default newUserBtn" data-url="{{ url_for('auth.admin.users_save') }}"><i class="fa fa-plus"> </i> New User</button>
			</p>
			<table class="table">
				<tbody>
					{% for user in user_list %}
						<tr>
							<td>
								<a href="{{ url_for('auth.admin.users_get', userkey=user.key.urlsafe()) }}" data-url="{{ url_for('auth.admin.users_save', userkey=user.key.urlsafe()) }}" class="modUser">
                                    {{ user.name }} {{ user.surname }} - {{ user.username }}
								</a><br>
								{{ user.company_name }}<br>
								<small>
									{% for ai in user.auth_ids %}
										{% if ai.startswith('google_') %}
											Logged in using <span class="fa fa-google"></span>oogle
										{% endif %}
									{% endfor %}
								</small>
							</td>
							<td>
								{{ user.state }}<br>
								{{ user.spoken_languages|join(',') }}
							</td>
							<td>
								{{ user.company_type }}<br>
								{{ user.role_translated() }}<br>
								<small>last login {{ user.last_login.strftime("%d/%m/%Y %H:%M:%S") }}</small>
							</td>
							<td class="text-right">
								<button class="btn btn-danger btn-sm deleteUser" data-url="{{ url_for('auth.admin.users_delete', userkey=user.key.urlsafe()) }}">Delete</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% include 'auth/admin/modal_user.html' %}

{% endblock %}

