{% extends 'base.html' %}

{% block content %}
<div class="header-wide">
	<div class="container">
		<div>
			<ul class="nav nav-pills pull-right">
					<li>
						<a href="" title="Login">Login</a>
					</li>
			</ul>
				<h1><a class="brand" href="/" title="WEBSITE">WEBSITE</a></h1>
		</div>
	</div>
</div>
<div class="body-wide">
	<div class="container">
		{% block contentbody %}{% endblock %}
	</div>
</div>
<div class="footer-wide">
	<div class="container">
		<div class="footer">
			<small>&copy; <span class="brand">WEBSITE</span></small>
		</div>
	</div>
</div>

<script type="text/javascript">
</script>
{% endblock %}
