	{% for message in get_flashed_messages() %}
		<div class="alert alert-danger">
			<strong>Error!</strong> {{ message }}
		</div>
	{% endfor %}
<form class="form-horizontal" action="{{ url_for('auth.login') }}" method="post">
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}">
	{% endif %}
  <div class="form-group">
    <label class="col-md-3 control-label" for="inputUsername">Username</label>
    <div class="col-md-6">
      <input class="form-control" type="text" id="inputUsername" name="username" placeholder="Username">
		<script>$('#inputUsername').focus()</script>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="inputPassword">Password</label>
    <div class="col-md-6">
      <input class="form-control" type="password" id="inputPassword" name="password" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
		<button type="submit" class="btn btn-primary">Sign in <i class="icon-chevron-right icon-white"> </i></button>
    </div>
  </div>
</form>