	<!--
	<div class="hero-unit">
	  <h1>Benvenuto!!</h1>
	  <p>Utilizza il nuovo ed innovativo sistema di ordinazione dal tuo smartphone o tablet!</p>
	  <h3>Come funziona:</h3>
	  <ul>
		<li>
			Se non hai la password del tavolo, richiedila al personale
		</li>
		<li>
			Effettua l'accesso con la password del tavolo
		</li>
		<li>
			Esplora il menu e fai la tua ordinazione
		</li>
		<li>
			Goditi la serata!
		</li>
	  </ul>
	  <small>PS: sai che puoi anche usare la connessione internet del locale per navigare? ;)</small>
	</div>
	-->