<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="{% block metadescription %}{% endblock %}{% trans %}Base metadescription text{% endtrans %}">
		<title>{% block title %}{% endblock %}{{ SITE_TITLE }} - {{ _('title text') }}</title>
		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- /Bootstrap -->
		<link href='http://fonts.googleapis.com/css?family=Syncopate:700' rel='stylesheet' type='text/css'>
		<!-- FontAwesome -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<!-- /FontAwesome -->
		<link href="/static/min/css/style.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-XXXX', 'domain.com');
		  ga('send', 'pageview');
		
		</script>
	{% block head %}{% endblock %}
	</head>
	<body>
		{% block content %}{% endblock %}
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script src="/static/min/js/all.js"></script>
		{% block admin_foot %}{% endblock %}
		{% block foot %}{% endblock %}
	</body>
</html>
